#settings {
   position: relative;
   margin: 0px 20px 0px 20px;
   margin-top: $headerHeight + 20px;
   height: 300px;
   box-shadow: 2px 2px 6px rgba(78, 78, 78, 0.233);

   #container-settings {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
   }
   #part1, #part2{
      height: 100%;
      border-right: 1px solid rgb(223, 223, 223);
   }
   #part1 {
      flex-grow: 1;

      #photo-sett {
         @include avatar(120px);
         box-shadow: 2px 2px 4px rgba(78, 78, 78, 0.301);
      }

      .card-user {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         height: 100%;
         background-color: rgb(247, 247, 247);
      }

      #pt1-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-items: center;
         margin-top: 20px;

         h5 { // nome de usuario
            font-size: 1.12em;
            color: rgb(92, 92, 92);
            font-family: "Barlow", sans-serif;
            margin-top: 10px;
            word-wrap: break-word;
         }
      }

      #pt2-container {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 0px 4px;
         width: 100%;
         height: 60px;

         #info1, #info2{
            height: 48px;
            width: 50%;
            margin: 0px 3px;
            border-radius: 2px;
            color: rgb(233, 233, 233);
            text-align: center;
            flex-wrap: wrap;
            font-family: 'Muli', sans-serif;
            box-shadow: 2px 2px 6px rgba(78, 78, 78, 0.644);
            p {
               cursor: default;
               font-size: 1.02em;
               margin-top: 2px;
               b {
                  color: white;
               }
            }
         }

         #info1 {
            background-color: rgb(84, 196, 127);
         }
         #info2 {
            background-color: rgb(92, 94, 175);
         }
      }
   }
   #part2 {
      flex-grow: 2;
      padding: 10px 15px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      // background: linear-gradient(240deg, rgb(52, 52, 75), rgb(54, 54, 65));

      #card-user-edit {
         // border: 1px solid rgb(84, 196, 127);
         form {
            width: 100%;
            .flex-row {
               div{width: 100%; margin: 0px 5px;}
            }
            legend {
               margin: 5px 5px;
               font-family: 'Mukta', sans-serif;
               font-weight: bold;
               color: rgb(107, 107, 107);
               font-size: .95em;
            }
            input {
               border: 1px solid rgb(223, 223, 223);
               padding: 7px 12px; 
               width: 100%;
            }
         }
         button {
            margin: 12px 5px;
            float: right;
            padding: 8px 32px;
            outline: 0;
            border: none;
            border-radius: 2px;
            font-size: .95em;
            font-family: 'Muli', sans-serif;
            color: rgb(255, 255, 255);
            background: #5c5eaf;
         }
      }
   }
}